<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF">
  <!-- base_footprint: ground-projected virtual frame (Nav2 / EKF root) -->
  <link name="base_footprint"/>
  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/t>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0152622090341073 2.56608773479688E-05 0.340155949397112"
        rpy="0 0 0" />
      <mass
        value="26.5054805614528" />
      <inertia
        ixx="0.621905792312847"
        ixy="1.75868724918625E-06"
        ixz="-9.3140526505306E-05"
        iyy="0.619709266364052"
        iyz="-1.5301943601009E-09"
        izz="0.761342270387948" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Front_Left_Wheel">
    <inertial>
      <origin
        xyz="-1.65811249175363E-07 0.00842329502511818 -7.19923407832557E-07"
        rpy="0 0 0" />
      <mass
        value="1.24660668719815" />
      <inertia
        ixx="0.00160785981291804"
        ixy="-2.85289426666511E-09"
        ixz="4.38579002002994E-07"
        iyy="0.00301627129247734"
        iyz="-1.23880381920975E-08"
        izz="0.00160966377370571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Front_Left_Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Front_Left_Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_Left_Wheel_Joint"
    type="fixed">
    <origin
      xyz="0.13257 0.2175 0.024"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_Left_Wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Front_Right_Wheel">
    <inertial>
      <origin
        xyz="1.65811249286385E-07 -0.00842329502511807 -7.19923407860312E-07"
        rpy="0 0 0" />
      <mass
        value="1.24660668719815" />
      <inertia
        ixx="0.00160785981291803"
        ixy="-2.85289430643748E-09"
        ixz="-4.38579002002945E-07"
        iyy="0.00301627129247734"
        iyz="1.23880382016781E-08"
        izz="0.0016096637737057" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Front_Right_Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Front_Right_Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_Right_Wheel_Joint"
    type="fixed">
    <origin
      xyz="0.13257 -0.2175 0.024"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_Right_Wheel" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="Lower_Left_Wheel">
    <inertial>
      <origin
        xyz="-1.65811249218731E-07 0.00842329502511807 -7.19923407832557E-07"
        rpy="0 0 0" />
      <mass
        value="1.24660668719815" />
      <inertia
        ixx="0.00160785981291804"
        ixy="-2.85289428634376E-09"
        ixz="4.38579002003007E-07"
        iyy="0.00301627129247734"
        iyz="-1.23880381920808E-08"
        izz="0.00160966377370571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Lower_Left_Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Lower_Left_Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lower_Left_Wheel_Joint"
    type="fixed">
    <origin
      xyz="-0.13257 0.215 0.024"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lower_Left_Wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Lower_Right_Wheel">
    <inertial>
      <origin
        xyz="1.65811248963726E-07 -0.00842329502511806 -7.19923407888068E-07"
        rpy="0 0 0" />
      <mass
        value="1.24660668719815" />
      <inertia
        ixx="0.00160785981291803"
        ixy="-2.85289424654725E-09"
        ixz="-4.38579002003012E-07"
        iyy="0.00301627129247734"
        iyz="1.23880382016681E-08"
        izz="0.0016096637737057" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Lower_Right_Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fyp_description/meshes/Lower_Right_Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lower_Right_Wheel_Joint"
    type="fixed">
    <origin
      xyz="-0.13257 -0.215 0.024"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lower_Right_Wheel" />
    <axis
      xyz="0 -1 0" />
  </joint>

  <!-- ========== SENSOR FRAMES ========== -->

  <!-- Camera: front-center of chassis, top height -->
  <link name="camera_link">
    <visual>
      <geometry><box size="0.05 0.05 0.05"/></geometry>
      <material name="camera_black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.14 0.0 0.34" rpy="0 0 0"/>
  </joint>

  <!-- Camera optical frame: Z-forward, X-right, Y-down (REP-103 optical) -->
  <link name="camera_depth_optical_frame"/>
  <joint name="camera_depth_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
  </joint>

  <!-- Scan frame: body-aligned at camera position (for depthimage_to_laserscan) -->
  <link name="scan_frame"/>
  <joint name="scan_frame_joint" type="fixed">
    <parent link="base_link"/>
    <child link="scan_frame"/>
    <origin xyz="0.14 0.0 0.34" rpy="0 0 0"/>
  </joint>

  <!-- IMU: mounted flat, aligned with robot body -->
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.15" rpy="0 0 0"/>
  </joint>

</robot>